h1 {
    color: cadetblue;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#title {
    color: #194b4d;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
@keyframes example {
       0%   {color: #ff000a;}
        25%  {color: #52bec2;}
        50%  {color: #4b8f45;}
        75%  {color: #ff8d00;}
        100% {color: #d9bfc0;}
}

#ingredients {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
ol {
    font-family: "Courier New ", Serif;

}

